.App {
  text-align: center;
}

:root {

  /* Colors: */
  --unnamed-color-e0752f: #E0752F;
  --unnamed-color-7f9178: #7F9178;
  --unnamed-color-dce1da: #DCE1DA;
  --unnamed-color-f2f4f1: #F2F4F1;
  --unnamed-color-ffffff: #FFFFFF;
  --unnamed-color-5f6368: #5F6368;
  --unnamed-color-343434: #343434;
  
  /* Font/text values */
  --unnamed-font-family-poppins: Poppins;
  --unnamed-font-family-roboto: Roboto;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-600: 600px;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-21: 21px;
  --unnamed-font-size-39: 39px;
  --unnamed-font-size-48: 48px;
  --unnamed-character-spacing-0-29: 0.29px;
  --unnamed-character-spacing-0-55: 0.55px;
  --unnamed-character-spacing-0-67: 0.67px;
  --unnamed-character-spacing-0-22: 0.22px;
  --unnamed-line-spacing-21: 21px;
  --unnamed-line-spacing-28: 28px;
  --unnamed-line-spacing-45: 45px;
  --unnamed-line-spacing-48: 48px;
  }
  
  /* Character Styles */
  .unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-48);
  line-height: var(--unnamed-line-spacing-48);
  letter-spacing: var(--unnamed-character-spacing-0-67);
  color: var(--unnamed-color-343434);
  }
  .unnamed-character-style-2 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-39);
  line-height: var(--unnamed-line-spacing-45);
  letter-spacing: var(--unnamed-character-spacing-0-55);
  color: var(--unnamed-color-343434);
  }
  .unnamed-character-style-3 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-21);
  line-height: var(--unnamed-line-spacing-28);
  letter-spacing: var(--unnamed-character-spacing-0-29);
  color: var(--unnamed-color-343434);
  }
  .unnamed-character-style-4 {
  font-family: var(--unnamed-font-family-roboto);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-21);
  letter-spacing: var(--unnamed-character-spacing-0-22);
  color: var(--unnamed-color-343434);
  }
  .unnamed-character-style-5 {
  font-family: var(--unnamed-font-family-roboto);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-28);
  letter-spacing: var(--unnamed-character-spacing-0-22);
  color: var(--unnamed-color-343434);
  }
  .contenedores{
    padding:5%;
  }
  .title__general{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-39)/var(--unnamed-line-spacing-45) var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0-55);
    color: var(--unnamed-color-343434);
    text-align: center;
    font: normal normal 600 39px/45px Poppins;
    letter-spacing: 0.55px;
    color: #343434;
    opacity: 1;
  }

  .subtitle__general{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-22);
    color: var(--unnamed-color-343434);
    text-align: center;
    font: normal normal normal 16px/28px Roboto;
    letter-spacing: 0.22px;
    color: #343434;
    opacity: 1;
  }